<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkWwm2LTp9vKxt2u-lv_KOnW6M2rCJGmk</string>
	<key>GCM_SENDER_ID</key>
	<string>10793072409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.tracker</string>
	<key>PROJECT_ID</key>
	<string>tracer-tracker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tracer-tracker-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10793072409:ios:241cc8af1acc0f10217788</string>
</dict>
</plist>